
  
<main class="main">
 
    <form action="#" class="form js_form">
        <input class="form__input js_inputUser" type="text" placeholder="e. Dragon Ball" />
        <button class="form__btn js_btnSearch">Search</button>
        <button class="reset__btn js_btnReset">Reset search</button>
    </form>

    <button class="reset__btn js_resetFav">Reset favorites</button>
    <div class="movies">
      <section class="favorites">
        <h2 class="favorites__title">Favorites animes</h2>
        <ul class="favorites__container js_favorites">
        <!-- list inyect by innerHTML -->
        </ul>
      </section>


      <section class="results">
        <h2 class="results__title">Results</h2>
        <h3 class="results__message  js_messageError"></h3>
        <ul class="results__container js_results">
       <!-- list inyect by DOM --> 
        </ul>
      </section>
    </div>
  </main>