* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.link__adalab:hover {
  background-color: #099d8d;
  color: #fff; }

.link__github:hover {
  background-color: #CCC;
  color: #000; }

.main {
  font-family: "Chakra Petch", sans-serif;
  border-style: none;
  box-sizing: border-box;
  background-color: #2a2929;
  width: 100%; }

.form {
  padding-left: 25px;
  margin-bottom: 20px;
  height: 10vh;
  width: 100%; }
  .form__input {
    width: 300px;
    font-family: "Chakra Petch", sans-serif;
    color: #9abd78;
    font-size: 16px;
    padding: 7px;
    border-radius: 25px;
    margin-left: 15px; }
    .form__input ::-moz-placeholder {
      color: #fafafa; }
    .form__input :-ms-input-placeholder {
      color: #fafafa; }
    .form__input ::placeholder {
      color: #fafafa; }
    .form__input ::value {
      color: #f3f313; }
  .form__btn {
    margin-bottom: 50px;
    width: 70px;
    background-color: #9abd78;
    border-radius: 30px;
    height: 35px;
    margin-left: 1%;
    color: #52424b;
    border: 3px solid #a240a5;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif; }
  .form__btn:hover {
    background-color: grey;
    color: white; }

.reset__btn {
  margin-bottom: 30px;
  width: 110px;
  background-color: #a240a5;
  border-radius: 30px;
  height: 35px;
  margin-left: 1%;
  color: white;
  border: 3px solid #9abd78;
  cursor: pointer;
  font-family: "Chakra Petch", sans-serif; }
  .reset__btn__btn:hover {
    background-color: #f3f313;
    color: #272020; }

.movies {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 30% 60%;
  -moz-column-gap: 3%;
  column-gap: 3%; }
  .movies .results {
    border: solid #9abd78;
    border-radius: 10px; }
    .movies .results__title {
      background-color: #224849;
      text-align: center;
      color: #9abd78;
      padding: 1%; }
    .movies .results__container {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      margin: 3%; }
    .movies .results__list {
      list-style: none;
      margin-top: 2%; }
  .movies .favorites {
    border: solid lightpink;
    border-radius: 5px;
    text-align: center; }
    .movies .favorites__container {
      display: flex;
      flex-direction: column;
      color: #9abd78;
      text-align: center;
      text-decoration: none;
      font-size: 16px; }
    .movies .favorites__container img {
      height: 250px;
      width: 200px;
      margin: auto; }
    .movies .favorites__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 3% 2% 2% 2%;
      list-style: none; }
      .movies .favorites__list .fas {
        text-align: center;
        color: #a240a5;
        text-align: center;
        cursor: pointer;
        transform: scale(2); }
    .movies .favorites__title {
      padding: 10px;
      color: #2a2929;
      background-color: #a240a5; }

ul {
  margin: 30px;
  text-align: center; }

.js_results li {
  font-size: 20px; }

.js_colors {
  color: #a240a5;
  border: 3px solid #a240a5;
  border-radius: 30px;
  font-size: 20px;
  padding: 15px;
  margin: 15px; }

.js_results {
  text-align: center;
  list-style: none;
  font-size: 16px;
  margin: 10px; }

.js_favorites__childs {
  color: #a240a5;
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 1px solid #a240a5;
  box-shadow: black;
  cursor: pointer;
  position: relative;
  translate: 50px;
  transform: translateY(-140px); }

.js_favorites__childs:hover {
  width: 30px;
  height: 30px;
  box-shadow: #9abd78; }

.js_favorites__title {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #a240a5; }

* {
  background-color: #2a2929; }

.header {
  width: 100%; }

.title {
  font-family: "Chakra Petch", sans-serif;
  color: #95df4b;
  font-size: 40px;
  margin: 30px; }

.page__footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  padding: 25px;
  font-family: "Chakra Petch", sans-serif;
  color: #999;
  right: 0; }

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
