* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main {
  font-family: "Chakra Petch", sans-serif;
  border-style: none;
  background-color: #2a2929;
  width: 100%; }

.form {
  padding-left: 25px;
  margin-bottom: 20px;
  height: 10vh;
  width: 100%; }
  .form__input {
    width: 300px;
    font-family: "Chakra Petch", sans-serif;
    color: #a240a5;
    font-size: 16px;
    padding: 7px;
    border-radius: 25px;
    margin-left: 15px; }
    .form__input ::-moz-placeholder {
      color: #fafafa; }
    .form__input :-ms-input-placeholder {
      color: #fafafa; }
    .form__input ::placeholder {
      color: #fafafa; }
    .form__input ::value {
      color: #a240a5; }
  .form__btn {
    margin-bottom: 50px;
    width: 70px;
    background-color: #1a6783;
    border-radius: 30px;
    height: 35px;
    margin-left: 1%;
    color: #fafafa;
    box-shadow: #a240a5;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif; }
  .form__btn:hover {
    background-color: #a240a5; }

.reset__btn {
  margin-bottom: 30px;
  width: 110px;
  background-color: #a240a5;
  border-radius: 30px;
  height: 35px;
  margin-left: 1%;
  color: #fafafa;
  box-shadow: #1a6783;
  cursor: pointer;
  font-family: "Chakra Petch", sans-serif; }
  .reset__btn__btn:hover {
    background-color: #1a6783; }

.js_resetFav:hover {
  background-color: #1a6783; }

.js_btnReset {
  margin-bottom: 30px;
  width: 110px;
  background-color: #1a6783;
  border-radius: 30px;
  height: 35px;
  margin-left: 1%;
  color: #fafafa;
  box-shadow: #1a6783;
  cursor: pointer;
  font-family: "Chakra Petch", sans-serif; }

.js_btnReset:hover {
  background-color: #a240a5; }

.movies {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 30% 60%;
  -moz-column-gap: 3%;
  column-gap: 3%; }
  .movies .results {
    border: solid #1a6783;
    border-radius: 10px; }
    .movies .results__title {
      background-color: #1a6783;
      text-align: center;
      color: #2a2929;
      padding: 1%; }
    .movies .results__message {
      color: #a240a5;
      text-align: center;
      font-size: 21px; }
    .movies .results__container {
      grid-column: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      margin: 3%; }
      @media (max-width: 768px) {
        .movies .results__container {
          grid-template-columns: 1fr;
          grid-column: 2; } }
      @media (min-width: 1200px) {
        .movies .results__container {
          grid-template-columns: 1fr 1fr 1fr;
          grid-column: 3; } }
      .movies .results__container__container img {
        height: 250px;
        width: 200px;
        margin: auto; }
        @media (max-width: 768px) {
          .movies .results__container__container img {
            height: 200px;
            width: 150px; } }
    .movies .results__list {
      list-style: none;
      margin-top: 2%; }
  .movies .favorites {
    border: solid #a240a5;
    border-radius: 5px;
    text-align: center;
    font-weight: bold; }
    .movies .favorites__container {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;
      font-size: 16px; }
    .movies .favorites__container img {
      height: 250px;
      width: 200px;
      margin: auto;
      border-radius: 30px; }
      @media (max-width: 768px) {
        .movies .favorites__container img {
          height: 200px;
          width: 150px; } }
    .movies .favorites__title {
      padding: 10px;
      color: #2a2929;
      background-color: #a240a5;
      border: 2px solid #a240a5; }

.js_results li {
  font-size: 20px;
  color: #1a6783;
  font-weight: bold; }

.js_colors {
  color: #a240a5;
  background-color: plum;
  border: 3px solid #a240a5;
  border-radius: 30px;
  font-size: 20px;
  padding: 15px;
  font-weight: bold; }

.js_results {
  text-align: center;
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  margin-top: 50px;
  padding: 15px; }

.js_favorites__childs {
  color: #a240a5;
  background-color: black;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  box-shadow: #a240a5;
  cursor: pointer;
  margin: auto;
  margin-top: 15px; }
  @media (max-width: 768px) {
    .js_favorites__childs {
      position: relative;
      translate: 50px;
      transform: translateY(-15px); } }

.js_favorites__childs:hover {
  width: 30px;
  height: 30px;
  font-size: 20px;
  box-shadow: #a240a5; }

.js_favorites__title {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #a240a5; }

.js-eachCard {
  color: #a240a5;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 768px) {
    .js-eachCard {
      text-align: center; } }

.movie_img {
  border-radius: 30px; }

* {
  background-color: #2a2929; }

.header {
  width: 100%; }

.title {
  font-family: "Chakra Petch", sans-serif;
  color: #a240a5;
  font-size: 40px;
  margin: 30px; }

.page__footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  padding: 25px;
  font-family: "Chakra Petch", sans-serif;
  color: #a240a5;
  right: 0; }

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
