.styles {
  font-family: $font-titles;
  h5 {
    font-size: 16px;
    color: rgb(201, 192, 193);
  }
}

.js_image {
  background-color: purple;
  height: 200px;
  width: 150px;
}

.card-body {
  background-color: purple;
}
.data {
  margin-left: 3%;
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 7%;

  .results {
    border: solid grey;
    border-radius: 10px;
    &__tittle {
      background-color: grey;
      text-align: center;
      color: rgb(117, 39, 39);
      font-size: 32px;
    }
    &__container {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      margin: 3%;
    }

    &__list {
      list-style: none;
      margin-top: 2%;
    }
    &__name {
      font-size: 18px;
      width: 100%;
      height: 40px;
      text-align: center;
      color: rgb(170, 167, 167);
      padding-top: 2%;
    }
  }
}

.favorites {
  border: solid lightpink;
  border-radius: 10px;
  text-align: center;
  background-color: grey;
  text-align: center;
  color: rgb(117, 39, 39);
  font-size: 25px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    list-style: none;

    .fas {
      text-align: center;
      color: grey;
      text-align: center;
      cursor: pointer;
      transform: scale(2);
    }
  }
}

.js_btnSearch {
  width: 70px;
  background-color: grey;
  border-radius: 30px;
  height: 35px;
  margin-left: 1%;
  color: rgb(82, 66, 75);
  border: 2px solid pink;
  cursor: pointer;
  font-family: $font-titles;
}
.js_btnReset {
  margin-bottom: 50px;
  width: 70px;
  background-color: grey;
  border-radius: 30px;
  height: 35px;
  margin-left: 1%;
  color: rgb(82, 66, 75);
  border: 2px solid pink;
  cursor: pointer;
  font-family: $font-titles;
}

.form {
  margin-left: 50px;
}

.favorites {
}
