//BONUS Part #6.  STYLE

.main {
  font-family: $font-text;
  border-style: none;
  background-color: $backGround;
  width: 100%;
}

.form {
  padding-left: 25px;
  margin-bottom: 20px;
  height: 10vh;
  width: 100%;

  &__input {
    width: 300px;
    font-family: $font-text;
    color: $pink;
    font-size: 16px;
    padding: 7px;
    border-radius: 25px;
    margin-left: 15px;
    ::placeholder {
      color: $white;
    }
    ::value {
      color: $pink;
    }
  }

  &__btn {
    margin-bottom: 50px;
    width: 70px;
    background-color: $blue;
    border-radius: 30px;
    height: 35px;
    margin-left: 1%;
    color: white;
    box-shadow: $pink;
    cursor: pointer;
    font-family: $font-text;
  }
  &__btn:hover {
    background-color: $pink;
  }
}

.reset {
  &__btn {
    margin-bottom: 30px;
    width: 110px;
    background-color: $pink;
    border-radius: 30px;
    height: 35px;
    margin-left: 1%;
    color: white;
    box-shadow: $blue;
    cursor: pointer;
    font-family: $font-text;

    &__btn:hover {
      background-color: $blue;
    }
  }
}
.js_resetFav:hover {
  background-color: $blue;
}
.js_btnReset {
  margin-bottom: 30px;
  width: 110px;
  background-color: $blue;
  border-radius: 30px;
  height: 35px;
  margin-left: 1%;
  color: white;
  box-shadow: $blue;
  cursor: pointer;
  font-family: $font-text;
}
.js_btnReset:hover {
  background-color: $pink;
}
.movies {
  margin-left: 15px;
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 3%;

  .results {
    border: solid $blue;
    border-radius: 10px;

    &__title {
      background-color: $blue;
      text-align: center;
      color: $backGround;
      padding: 1%;
    }

    &__message {
      color: $pink;
      text-align: center;
      font-size: 21px;
    }

    &__container {
      grid-column: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      margin: 3%;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-column: 2;
      }

      @media (min-width: 1300px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 3;
      }

      &__container img {
        height: 250px;
        width: 200px;
        margin: auto;
        @media (max-width: 768px) {
          height: 200px;
          width: 150px;
        }
      }
    }

    &__list {
      list-style: none;
      margin-top: 2%;
    }
  }

  .favorites {
    border: solid $pink;
    border-radius: 5px;
    text-align: center;

    &__container {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }

    &__container img {
      height: 250px;
      width: 200px;
      margin: auto;
      border-radius: 30px;
      @media (max-width: 768px) {
        height: 200px;
        width: 150px;
      }
    }

    &__title {
      padding: 10px;
      color: $backGround;
      background-color: $pink;
      border: 2px solid $pink;
    }
  }
}

// ul {
//   margin: 30px;
//   text-align: center;
// }

//JS class
.js_results li {
  font-size: 20px;
  color: rgb(41, 107, 151);
  font-weight: bold;
}
.js_colors {
  color: $pink;
  background-color: plum;
  border: 3px solid $pink;
  border-radius: 30px;
  font-size: 20px;
  padding: 15px;
  margin: 15px;
  font-weight: bold;
}
.js_results {
  text-align: center;
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  margin-top: 50px;
  padding: 15px;
}
.js_favorites__childs {
  color: $pink;
  background-color: black;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  box-shadow: $pink;
  cursor: pointer;
  // position: relative;
  // translate: 50px;
  // transform: translateY(-140px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  @media (max-width: 768px) {
    position: relative;
    translate: 50px;
    transform: translateY(-15px);
  }
}

.js_favorites__childs:hover {
  width: 30px;
  height: 30px;
  font-size: 20px;
  box-shadow: $pink;
}

.js_favorites__title {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: $pink;
}

.js-eachCard {
  color: $pink;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 25px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.movie_img {
  border-radius: 30px;
}
